@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html{
    font-size: 62.5%;
}

*{

    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #EEEEEE;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(50, 22, 100), rgba(19, 22, 50, 0.1));
    background-color: rgb(19 22 28);
}

button{
    background-color: transparent;
    border: transparent;
    font-size: 3.6rem

}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
  }

  header {
    position: fixed; /* El encabezado se mantiene fijo */
    top: 0; /* Posicionarlo en la parte superior */
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo con transparencia */
    border-radius: 100rem;
    max-width: 900px;
    padding: 1rem; /* Espaciado interno */
    margin-top: 1rem;
  }

nav{
    padding-left: .75rem;
    padding-right: .75rem;
}

header a{
    margin: 1rem;
}

#sectionAboutUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

#sectionAboutUs img{
    border-radius: 20rem;
    height: 20rem;
    width: 20rem;
    margin: 4rem;
}

h1{
    font-size: 5.2rem;
    margin: 1rem;
    background-color: transparent;
}

h2{
    font-size: 3rem;
    margin: 1rem;
    background-color: transparent;
}

h3{
    font-size: 2rem;
    margin: 0.5rem;
    background-color: transparent;
}

#certificates{
    display: flex;
    flex-direction: column;
}

#divcertificates{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.certificationArticles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 40rem;
    margin: 5rem;
    border: 0.1rem solid #EEEEEE;
    border-radius: 2rem;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.3);
}

.certificationArticles > img{
    max-width: 100%;
}

.certificationArticles h2{
    font-size: 2.4rem;
}

time{
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 2rem;
    padding-left: 1rem;
}

.certificationArticles div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 0 0;
    background-color: transparent;
    margin: 0.5rem;
        
}

.certificationArticles div img, time img{
    max-width: 3rem;
    max-height: 3rem;
    background-color: transparent;
    margin: 0.5rem;
}

#socialMedia, #certificates{
    display: flex;
    align-items: center;
    justify-content: center;
}

#socialMedia img{
    border-radius: 0rem;
    height: 4rem;
    width: 4rem;
    margin: 1.5rem;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.skills div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skills li{
    display: flex;
    align-items: center;
    border: 0.1rem solid #EEEEEE;
    border-radius: 3rem;
    max-width: 20rem;
    padding: 0.5rem;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
}

.skills img{
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    background-color: transparent;
}
