@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*{

    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #EEEEEE;
}

body{
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(50, 22, 100), rgba(19, 22, 50, 0.1));
    background-color: rgb(19 22 28);
}

#htmlRender{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: rgba(19, 22, 28, 0.6);
    border: none;
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.6rem;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

button:hover{
    background-color: #EEEEEE;
    color:  rgba(19, 22, 28);
    transition-duration: .2s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

button:active{
    background-color: #EEEEEE;
    color:  rgba(19, 22, 28);
    box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.1);
    transition-duration: .2s;

}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
  }

a:hover{
    color: rgb(213, 204, 29, 0.8);
}

header {
    position: fixed; /* El encabezado se mantiene fijo */
    top: 0; /* Posicionarlo en la parte superior */
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo con transparencia */
    border-radius: 100rem;
    max-width: 900px;
    padding: 1rem; /* Espaciado interno */
    margin-top: 1rem;
  }

nav{
    padding-left: .75rem;
    padding-right: .75rem;
}

header a{
    margin: 1rem;
}

#start{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6rem 2rem 2rem 2rem;
}
strong{
    color: rgb(213, 204, 29, 0.8);
}

#start img{
    border-radius: 20rem;
    height: 20rem;
    width: 20rem;
    margin: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 5.2rem;
    margin: 2rem 0 2rem 0;
    background-color: transparent;
}

h2{
    font-size: 3rem;
    margin: 1rem 0px 1rem 0px;
    background-color: transparent;
}

h3{
    font-size: 2rem;
    margin: 0.5rem;
    background-color: transparent;
}

.sections{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

#sideProyects article{
    display: flex;
}



#contentSkills > div{
    display: flex;
}

#contentSkills > div button{
    width: 30rem;
    height: 4rem;
    padding: 1rem;
}

#divcertificates{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.certificationArticles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 30rem;
    margin: 2rem;
    border: 0.1rem solid #EEEEEE;
    border-radius: 2rem;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.3);
}

.certificationArticles > img{
    max-width: 100%;
}

.certificationArticles h2{
    font-size: 2.4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

time{
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 2rem;
    padding-left: 1rem;
}

.certificationArticles div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 0 0;
    background-color: transparent;
    margin: 0.5rem;
        
}

.certificationArticles div img, time img{
    max-width: 3rem;
    max-height: 3rem;
    background-color: transparent;
    margin: 0.5rem;
}

#socialMedia, #certificates{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
}

.proyect {
    align-items: center;
    height: 18rem; 
    overflow: visible;
    background-color: rgb(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    width: 90vw;
    margin-top: 3rem;
}

.proyect p{
    font-size: 1.4rem;
    margin: 0;
}
  
.proyect > a img {
    width: 35rem; /* Ancho de la imagen */
    height: 19.6rem; /* Permitir que la imagen crezca en altura según su contenido */
    margin-left: 5rem;
    margin-right: 3rem;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.1);
    opacity: 0.7;
    border-radius: 1rem;
}

  .proyect a img:hover, .repLink:hover {
    opacity: 1;
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.1);
    transition-duration: .2s;
    color: #EEEEEE;
}

.repLink{
    display: flex;
    align-items: center;
    border: 0.1rem solid #EEEEEE;
    border-radius: 99rem;
    background-color: rgb(255, 255, 255, 0.3);
    width: 5rem;
    padding: 0.1rem 1rem 0.1rem 0.5rem;
}

.proyect > div {
    max-width: 50vw;
    padding: 2rem;
}

.logosProyect{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logosProyect ul{
    padding: 0px;
    display: flex;
}

.logo{
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
}

#socialMedia img{
    border-radius: 0rem;
    height: 4rem;
    width: 4rem;
    margin: 1.5rem;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.skills ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skills li{
    display: flex;
    align-items: center;
    border: 0.1rem solid #EEEEEE;
    border-radius: 3rem;
    max-width: 20rem;
    padding: 0.5rem;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
}

.skills img{
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    background-color: transparent;
}

#navegationCertificates{
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutMe{
    display: flex;
    align-items: center;
    padding: 5rem;
    margin-top: 5rem;
}

#aboutMe div{
    display: flex;
    flex-direction: column;
    max-width: 60rem;
}

#aboutMe p{
    font-size: 1.6rem;
}

#aboutMe img{
    width: 20rem;
    height: 20rem;
    margin-left: 5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    border: 0.2rem solid rgb(0, 0, 0);
    border-radius: 100rem;
}

#footerPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85rem;
    padding: 1rem;
    font-size: 2rem;
}

#footerPage  ul{
    display: flex;
}

#footerPage  ul a{
    margin-left: 2rem;
}

@media (max-width:1020px) {

    html{
        font-size: 50%;
    }

    #start{
        flex-direction: row;
    }

    #start div {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    .proyect{
        height: 24rem;
    }

    #contentSkills > div button{
        width: 20rem;
        padding: 2.5rem;
    }

    .skills li {
        padding: 0.1rem;
    }
    
    #divcertificates{
        grid-template-columns: 1fr 1fr;
    }
    #footerPage{
        width: 95vw;
    } 
}

@media (max-width:620px) {
    html{
        font-size: 36%;
    }
    #contentSkills > div button{
        width: 15rem;
    }

    .skills div{
        grid-template-columns: 1fr 1fr;
    }

    .skills li{
        margin: 1.5rem 2rem 1.5rem 2rem;
    }

    #contentSkills > div button{
        padding: 2rem;
    }

    .proyect > a img {
        width: 30rem;
        height: 17rem;
        margin-left: 3rem;
        margin-right: 1rem;
    }

}
